TwenteRailroads/files/th0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="content" type="contentType"/>
  <xs:complexType name="recType">
    <xs:sequence>
      <xs:element type="xs:string" name="MapViewSVGNo"/>
      <xs:element type="xs:string" name="MapViewSVGId"/>
      <xs:element name="Type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Main line"/>
            <xs:enumeration value="Branch line"/>
            <xs:enumeration value="Tramway"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="date_x0020_opened"/>
      <xs:element type="xs:string" name="date_x0020_closed"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contentType">
    <xs:sequence>
      <xs:element type="recType" name="rec" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>